$primaryBackground: #292d33
$primary: #169de0
$text: #a4a9b3

.Calendar
  width: 280px
  background: $primaryBackground
  color: $text
  padding: 10px
  border-radius: 4px 4px 0 0
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4)
  font-size: 1rem

  .C__WeekDays
    display: grid
    grid-template-columns: repeat(7, 1fr)
    grid-gap: 8px
    margin-bottom: 8px
