$primaryBackground: #292d33
$primary: #169de0
$text: #a4a9b3

.Calendar
  width: 280px
  background: $primaryBackground
  color: $text
  padding: 10px
  border-radius: 4px
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4)
  font-size: 1rem

  .C__WeekDays
    display: grid
    grid-template-columns: repeat(7, 1fr)
    grid-gap: 8px
    margin-bottom: 8px

  .C__MonthDays
    display: grid
    grid-template-columns: repeat(7, 1fr)
    grid-gap: 4px
    padding: 8px 0

  .C__Footer
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    padding: 8px
    border-top: 1px solid darken($text, 30%)

    .F__Actions
      display: flex
      align-items: center

      .A__Action
        color: $primary

        &:hover
          text-decoration: underline

    .F__Button
      border: 0
      background: transparent
      cursor: pointer

    .F__Confirm
      background: $primary
      padding: 4px 8px
      border-radius: 4px
      color: #fff
